<mat-toolbar color="primary">
  <mat-toolbar-row [ngClass]="{unauthenticated: !isLoggedIn() }">

    <div *ngIf="isLoggedIn()" [ngClass]="isActive('/news')" routerLink="/news">
      <mat-icon>import_contacts</mat-icon>
      <span> News </span>
    </div>

    <div *ngIf="isLoggedIn()" [ngClass]="isActive('/events')" routerLink="/events">
      <mat-icon>art_track</mat-icon>
      <span> Events </span>
    </div>

    <div *ngIf="!isLoggedIn()" [ngClass]="isActive('/login')" routerLink="/login">
      <mat-icon>account_box</mat-icon>
      <span> Login </span>
    </div>

    <div *ngIf="!isLoggedIn()" [ngClass]="isActive('/register')" routerLink="/register">
      <mat-icon>create</mat-icon>
      <span> Register </span>
    </div>

    <div *ngIf="isLoggedIn()" [ngClass]="isActive('/locations')" routerLink="/locations">
      <mat-icon>location_on</mat-icon>
      <span> Locations </span>
    </div>

    <div *ngIf="isLoggedIn()" [ngClass]="isActive('/activity')" routerLink="/activity">
      <mat-icon>art_track</mat-icon>
      <span> Activity </span>
    </div>

    <div *ngIf="isLoggedIn()" [ngClass]="isActive('/activity-type')" routerLink="/activity-type">
      <mat-icon>view_list</mat-icon>
      <span> Activity Types </span>
    </div>

  </mat-toolbar-row>
</mat-toolbar>

<div class="app-container">
  <router-outlet></router-outlet>
</div>
