<mat-toolbar color="primary">
  <mat-toolbar-row [ngClass]="{unauthenticated: !isLoggedIn() }">

    <div *ngIf="isLoggedIn()" [ngClass]="isActive('/news')" routerLink="/news">
      <mat-icon>import_contacts</mat-icon>
      <span> News </span>
    </div>

    <div *ngIf="isLoggedIn()" [ngClass]="isActive('/recipe')" routerLink="/recipe">
      <mat-icon>art_track</mat-icon>
      <span> Recipes </span>
    </div>

    <div *ngIf="isLoggedIn()" [ngClass]="isActive('/ingredients')" routerLink="/ingredients">
      <mat-icon>view_list</mat-icon>
      <span> Ingredients </span>
    </div>

    <div *ngIf="isLoggedIn()" [ngClass]="isActive('/reviews')" routerLink="/reviews">
      <mat-icon>art_track</mat-icon>
      <span> Reviews </span>
    </div>

    <div *ngIf="isLoggedIn()" [ngClass]="isActive('/users')" routerLink="/users">
      <mat-icon>location_on</mat-icon>
      <span> Users </span>
    </div>

    <div *ngIf="!isLoggedIn()" [ngClass]="isActive('/register')" routerLink="/register">
      <mat-icon>create</mat-icon>
      <span> Register </span>
    </div>

    <div *ngIf="!isLoggedIn()" [ngClass]="isActive('/login')" routerLink="/login">
      <mat-icon>account_box</mat-icon>
      <span> Login </span>
    </div>

  </mat-toolbar-row>
</mat-toolbar>

<div class="app-container">
  <router-outlet></router-outlet>
</div>
