<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <mat-form-field>
    <mat-select formControlName="recipe" placeholder="recipe">
      <mat-option *ngFor="let recipe of recipes" [value]="recipe.id">
        {{recipe.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput id="rating" formControlName="rating" placeholder="Rating *">
  </mat-form-field>

  <mat-form-field>
    <mat-select formControlName="user" placeholder="user">
      <mat-option *ngFor="let user of users" [value]="user.id">
        {{user.displayName}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Add Review</button>

</form>
