@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
.mat-form-field {
  width: 100%;
  display: block;
}

body {
  background-color: rgb(242, 246, 255);
}

form {
  max-width: 500px;
}
